[submodule "third_party/sam-3d-body"]
	path = third_party/sam-3d-body
	url = https://github.com/facebookresearch/sam-3d-body.git
[submodule "third_party/soma"]
	path = third_party/soma
	url = https://github.com/NVlabs/SOMA-X.git
[submodule "third_party/soma-retargeter"]
	path = third_party/soma-retargeter
	url = git@github.com:NVIDIA/soma-retargeter.git
[submodule "third_party/gem-x.cpp"]
	path = third_party/gem-x.cpp
	url = https://github.com/parodyband/gem-x.cpp.git
